.showSidebar-div {
    background-color: #333333;
    display: flex;
    border-radius: 10px;
    width: 20px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    border-radius: 10px;
    /* transition: all 0.2s linear; */

}
.showSidebar-img {
    /* background-color: #1A1A1A; */
    padding: 4px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;

}

.create-note {
    text-decoration: none;

}

/* DashboardPage */
.dashboard-background{
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    width: 100%;
    padding: 0px;

}

.dashboard-container {
    /* margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 160vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px black;
    z-index: 2; */
}
.dashboard-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    margin-bottom: 60px;
}

/* DashboardNotesContainer */

.dashboard-notes-container {
    background-color: rgb(26, 26, 26);
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 6px 0px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-weight:400 400;
height: 360px;
line-height: 24px;
outline-color: rgba(0, 0, 0, 0);
outline-style: solid;
outline-width: 1px;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
width: 482.656px;
z-index: 1;
    padding: 14px;
    margin: 20px;
}

.notes-link {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.notes-nav-left {
display: flex;
    align-items: center;
}

span {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.green-arrow {

    padding: 6px;

}

.notes-nav-top {
    align-items: center;
}
