.create-notebook-input, .create-note-title-input textarea#create-note-content-text {
    background-color: #1A1A1A;
    color: rgb(165,165,165);
    border: 1px solid rgb(165,165,165);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    width: 240px;
}


textarea#create-note-content-text {
    width: 240px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notebook-choice {
    margin-top: 10px;
    margin-bottom: 20px;
}
.create-notebook-form, .create-note-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-notebook-div, .create-note-form-div {
    background-color: #1A1A1A;
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgb(165,165,165);
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.create-notebook-btn {
    margin: 0px;
    margin-bottom: 20px;

}
