.create-notebook-input {
    background-color: #1A1A1A;
    color: rgb(165,165,165);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}
.create-notebook-form {
    display: flex;
    flex-direction: column;
}
