.searchbar-container {
    display: flex;
    justify-content: center;
    color: rgb(165, 165, 165);
    background-color: #1a1a1a;
}

.searchbar-input {
    background-color: #1a1a1a;
    border: 1px solid #737373;
    border-right: none;
    outline: none;
    padding: 4px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-family: 'system-ui';
}

.search-icon-div {
    border: 1px solid #737373;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
