.notebooks-list-header {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    /* padding: 20px 0px; */

}
.notebook-list {
    margin: 0px 20px;
    /* padding: 0px px; */
    overflow-y: scroll;
    max-height: 534px;

}

.notebook-list::-webkit-scrollbar {
    background: black ;
}
.notebook-list::-webkit-scrollbar-thumb {
    background: 3A3A3A;
}
.book-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(165,165,165) 1px solid ;
    margin-top: 0px;
    padding: 10px 0px;
    /* cursor: pointer; */
}

.book-list-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-notebook-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon {

}



.book-list-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8rem;
    background-color: #1A1A1A;

}

.book-list-bottom > div > span{
    color: rgb(165,165,165);
    width: 100px;
}

.notebook-title-div {
    width: max-content;
}

.notebook-details-header-right {
    display: flex;

}

.notebook-details-header-right > div {
    width: 100px;
    padding: 6px;
    overflow: hidden;
    /* overflow-wrap: break-word; */
}
