.note-title-input {
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 1.3rem;
}
.edit-note-form {
    /* padding:10px; */
    width: 100%;

}
input.note-title-input, textarea.note-content-input{
    width: 100%;
    /* height: ; */
    border-radius: 10px;
    background-color: rgb(58,58,58);
    color: white;
    font-family: 'system-ui';
}
textarea.note-content-input{
    height: 480px;
    padding: 10px 0px;
    margin-top: 10px;

}
input.note-title-input {
    overflow-wrap: normal;
}

.edit-note-form, .edit-note-container  {
    width: 100%;
    height: 100%;

}

.last-edited {
    font-family: 'system-ui';
    padding:10px;
    border-bottom: rgb(38, 38, 38) 1px solid;
    border-top: rgb(38, 38, 38) 1px solid;

}

/* .edit-inputs, .note-content-input, .note-title-input, .edit-note-form, .edit-note-container {
    height: 100%


} */
