.notes-page-container {
    display: flex;
    height: 100% auto max-content;
    width: 100%;
}

.edit-note-container {
    display: flex;
    border-left: 1px solid  rgb(166,166,166);
    padding: 10px;
    /* height: max-content; */
}
