.notebooks-page-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 1.3rem;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    color: rgb(165,165,165);
    background-color: #1A1A1A;
}

.searchbar-input {
    background-color: #1A1A1A;
    border: 1px solid #737373;
    border-right: none;
    outline: none;
    padding: 4px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-icon-div{
    border: 1px solid #737373;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notebooks-page-header{

}
