/* .home-form{

        background-color: rgb(38,38,38);

} */
.form-label, .form-btn {
    padding: 10px;
    font-family: 'system-ui';
}

.form-label {
    display: flex;
    align-self: flex-start;
    padding-left: 0px;
    font-family: 'system-ui';
}

.form-input {
}
.form-btn {
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgb(58,58,58);
    color: white;
}
